<mat-toolbar color="accent" class="tb">
  <a (click)="goto('/home')"><img class="logo" src="assets/img/dashdelivery.png"></a>
  <span class="gap1">
    <button mat-flat-button color="warn" (click)="goto('/envio') ">Realiza un Envío</button></span>
    <span class="filler"></span>
    <span class="gap">
    <input matInput placeholder="No. de Orden" [(ngModel)]="no_orden" maxlength="10">
    <button type="submit" class="btn" (click)="newOrden();goto('/order-progress')"  [disabled]="!no_orden"mat-flat-button color="accent">
      <span class="material-icons">
        search
        </span>
    </button>
  </span>
  <span *ngIf="!auth.isloggedin()" (click)="openDialog()">Login</span>
  <span>
    <button *ngIf="auth.isloggedin()" mat-button [matMenuTriggerFor]="menu"><mat-icon matPrefix>menu</mat-icon></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goto('/listado-ordenes')">Listado de Ordenes</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu></span>
</mat-toolbar>


